body {
    background-image: url("imagenes/fondo_dino.jpg");
    font-family: fantasy;

}
div.info {
    border: 5px solid #f1f0ed;
    border-radius: 15px;
    text-align: center;
}

#titulo{
    margin: 20px 20%;
    padding: 5px 30px;
}
#formulario{
    margin: 50px 15%;
    padding: 50px 30px;
    background: black;
    color: white;
}
img {
    width: 15%;
}
button {
    border: 2px solid white;
    margin: 10px;
    padding: 50px 80px;
    border-radius: 15px;
    text-align: center;
    background: black;
    color: white;
    position: relative;
    left: 40%;

}
button:hover{
    font-size: 100%;
}
button:active{
    font-weight: bold;
}

/* Pantalla del Juego
 */
canvas {
    background: #979592;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid white;
}
#juego{
    background-image: url("imagenes/bandera_argentina.svg");
    /*background: white;*/
    border: 2px solid black;
}
#botonJuego{
    position: relative;
    top: 100px;
    left: 0px;
}
#botonRegrsar{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 500px;
    height: 50px;
}
#canvas_progreso{
    background: linear-gradient(to right,white,yellow);
}
div.posision{
    position: relative;
}

#mejores_puntuaciones, #puntuacion, #nivel_progreso{
    background: #3b5736;
}
#puntuacion {
    position: absolute;
    top: 5%;
    right: 15px;
    width: 26%;
    height: 20%;

}
#posicion_mej_puntuacion {
    position: absolute;
    height: 40%;
    width: 40%;
}
#posicion_progreso{
    position: absolute;
    top: 0px;
    left: 50%;
    height: 50%;
    width: 50%;
}